body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0;
  background: #ddd;
  padding-top: 0%;
  font-size: 18px;
  font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
}

.resume {
  padding-top: 20px;
  margin-left: 40px;
}

#moneysign {
  color: #D76D77;
}

#title {
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  color: #D76D77
}

.react-terminal-input[data-terminal-prompt]:before {
  content: attr(data-terminal-prompt);
}

.resume:focus-within .react-terminal-active-input:after {
  content: '▋';
  font-family: monospace;
  margin-left: 0.2em;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

/* Cursor animation */

@-webkit-keyframes blink {
  50% {
      opacity: 0;
  }
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}



#pdf {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
